body{
    display: grid;
    place-items: center;
    background-color: #F6F1EA;
    color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
textarea{
    height: 300px;
    width: 500px;
    background-color: #F5E3CE;
    padding: 1rem;
}
.submit{
    padding: 0.5rem 1rem;
    color: #f8f5f1;
    background: #222222;
}

.card-response{
    padding: 1rem;
    color: #f8f5f1;
    background: #222222;
    border: 1px solid #f8f5f1;
}
main{
    max-width: 50%;
    padding: 1rem;
}